{% extends 'bootstrap_4_horizontal_layout.html.twig' %}

{% block submit_row -%}
    {% spaceless %}
            {% if 'btn-group' in attr %}
                {% if 'btn-first' in attr %}
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <div class="btn-group" role="group" aria-label="Basic example">
                {% endif %}

                    {{ form_widget(form) }}

                {% if 'btn-last' in attr %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
    {% endspaceless %}
{% endblock submit_row %}
