{# app/Ressources/views/Exception/error404.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Error 404 - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">404 error</li>
{% endblock %}

{% block body %}
    <div class="text-center row">
        <img src="{{ asset('images/404.png') }}" alt="Chuck Norris" width="200" />
        <h1 style="font-size: 10em">404<small>error</small></h1>
        <h2 style="font-size: 4em">You're lost...</h2>
        <h3>Chuck Norris is gone to look for the page.</h3>
    </div>
{% endblock %}
