.git
.idea
/docker
/files/*
/node_modules
/public/build
/var
/vendor
.dockerignore
.editorconfig
.env.dist
.travis.yml
bump-version.sh
changelog.md
docker-compose.ci.yml
docker-compose.override.yml
docker-compose.override.yml.dist
docker-compose.prod.yml
docker-compose.yml
Dockerfile
Makefile
yarn-error.log
