/app/config/parameters.yml
/bower_components
/build
/deploy.js
docker-compose.yml
/node_modules/
.php_cs.cache
/phpunit.xml
/uploads/*
!/uploads/plasmids
/uploads/plasmids/*
!/uploads/plasmids/.gitkeep
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/compiled/*
/web/js/compiled/*
/web/built
/web/fonts
