nginx:
    image: nginx:stable
    ports:
        - "8081:80"
    links:
        - "php"
    volumes:
        - ".:/home/docker:ro"
        - "./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro"
        - "./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"

php:
    build: ./docker/engine/
    volumes:
        - ".:/home/docker:rw"
        - "./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini:ro"
    links:
        - "db"
        - "search"
    working_dir: "/home/docker"

db:
    image: mariadb:latest
    ports:
        - "3307:3306"
    environment:
        - "MYSQL_ROOT_PASSWORD=collectionManager"
        - "MYSQL_USER=collectionManager"
        - "MYSQL_PASSWORD=collectionManager"
        - "MYSQL_DATABASE=collectionManager"

search:
    build: ./docker/search/
    ports:
        - "9200:9200"
        - "9300:9300"

