front:
    restart: unless-stopped
    image: nginx:1.9
    ports:
        - "8081:80"
    links:
        - "engine:engine"
    volumes:
        - ".:/home/docker:ro"
        - "./docker/front/default.conf:/etc/nginx/conf.d/default.conf:ro"
        - "./docker/front/nginx.conf:/etc/nginx/nginx.conf:ro"

engine:
    restart: unless-stopped
    build: ./docker/engine/
    volumes:
        - ".:/home/docker:rw"
        - "./docker/engine/php.ini:/usr/local/etc/php/conf.d/custom.ini:ro"
    links:
        - "db:db"
        - "search:search"
    working_dir: "/home/docker"

db:
    restart: unless-stopped
    image: mariadb:10.1
    ports:
        - "3307:3306"
    environment:
        - "MYSQL_ROOT_PASSWORD=collectionManager"
        - "MYSQL_USER=collectionManager"
        - "MYSQL_PASSWORD=collectionManager"
        - "MYSQL_DATABASE=collectionManager"

search:
    restart: unless-stopped
    build: ./docker/search/
    ports:
        - "9200:9200"
        - "9300:9300"

#search_master:
#    restart: unless-stopped
#    build: ./docker/search/
#    command: "elasticsearch -Des.node.name=Odin -Des.cluster.name=Asgard -Des.node.master=true -Des.node.data=false"
#    ports:
#        - "9200:9200"
#        - "9300:9300"
#
#search_node1:
#    image: elasticsearch:2.4
#    command: "elasticsearch -Des.node.name=Thor -Des.cluster.name=Asgard -Des.discovery.zen.ping.unicast.hosts=search_master"
#    links:
#        - search_master
#
#search_node2:
#    image: elasticsearch:2.4
#    command: "elasticsearch -Des.node.name=Loki -Des.cluster.name=Asgard -Des.discovery.zen.ping.unicast.hosts=search_master"
#    links:
#        - search_master
