{% extends "base.html.twig" %}

{% block title %}Add a product movement{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('product_index') }}">Products list</a></li>
    <li><a href="{{ path('product_view', { 'id': product.id }) }}">Product</a></li>
    <li class="active">Add a movement</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Add a product movement</h1>

    {% embed 'product_movement/_form.html.twig' %}
    {% endembed %}
{% endblock %}
