{# app/Ressources/views/Exception/error403.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    Error 403 - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">403 error</li>
{% endblock %}

{% block body %}
    <div class="text-center row">
        <img src="{{ asset('build/images/403.png') }}" alt="Gandalf" width="200" />
        <h1 style="font-size: 10em">403<small>error</small></h1>
        <h2 style="font-size: 4em">You shall not pass !</h2>
        <h3>Damn fool, this is a restricted area.</h3>
    </div>
{% endblock %}
