<div class="card my-3">
    <div class="card-header">
        FASTA - Accepted Input Formats
    </div>
    <table class="table table-bordered mb-0">
        <tr>
            <td>A</td>
            <td>adenosine</td>
            <td>C</td>
            <td>cytidine</td>
            <td>G</td>
            <td>guanine</td>
        </tr>
        <tr>
            <td>T</td>
            <td>thymidine</td>
            <td>N</td>
            <td>A/G/C/T (any)</td>
            <td>U</td>
            <td>uridine</td>
        </tr>
        <tr>
            <td>K</td>
            <td>G/T (keto)</td>
            <td>S</td>
            <td>G/C (strong)</td>
            <td>Y</td>
            <td>T/C (pyrimidine)</td>
        </tr>
        <tr>
            <td>M</td>
            <td>A/C (amino)</td>
            <td>W</td>
            <td>A/T (weak)</td>
            <td>R</td>
            <td>G/A (purine)</td>
        </tr>
        <tr>
            <td>B</td>
            <td>G/T/C</td>
            <td>D</td>
            <td>G/A/T</td>
            <td>H</td>
            <td>A/C/T</td>
        </tr>
        <tr>
            <td>V</td>
            <td>G/C/A</td>
            <td>-</td>
            <td colspan="3">gap of indeterminate length</td>
        </tr>
    </table>
</div>
