{% extends "base.html.twig" %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block body %}
    <h1 class="page-header">Locations</h1>

    {% block location_body %}
    {% endblock %}
{% endblock %}
