{% extends "base.html.twig" %}

{% block title %}Locations list{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Locations list</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Locations list</h1>

    {% if app.user.isInGroup() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('location_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a Location
            </a>
        </div><br>
    {% endif %}

    {% if '' != locations %}
        {{ locations|raw }}
    {% else %}
        <div class="alert alert-info">
            There are no locations.
        </div>
    {% endif %}
{% endblock %}
