{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user is not null %}
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">My teams</div>
                    {% if teams is empty %}
                        <div class="panel-body">
                            You have not team
                        </div>
                    {% else %}
                        <ul  class="list-group">
                            {% for team in teams %}
                                <li  class="list-group-item">
                                    <a href="{{ path('team_view', { 'slug': team.slug }) }}">{{ team.name }}</a>
                                    {{ team.administrators.contains(app.user) ? '(admin)' }}
                                    {% if app.user.isFavoriteTeam(team) %}
                                        <span class="favorite-team glyphicon glyphicon-star pull-right"></span>
                                    {% else %}
                                        <a href="{{ path('team_favorite', { 'slug': team.slug }) }}">
                                            <span class="glyphicon glyphicon-star-empty pull-right"></span>
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
