# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # App version
    env(APP_VERSION):                    0.1

    # Database settings
    env(DATABASE_NAME):             collection-manager
    env(DATABASE_HOST):             db
    env(DATABASE_PORT):             3306
    env(DATABASE_USER):             collection-manager
    env(DATABASE_PASSWORD):         collection-manager

    # ElasticSearch settings
    env(ELASTICSEARCH_HOST):        es1
    env(ELASTICSEARCH_PORT):        9200

    # Mailer settings
    env(SMTP_HOST):                 host
    env(SMTP_PORT):                 587
    env(SMTP_USER):                 login
    env(SMTP_PASSWORD):             password

    env(MAILER_SENDER_ADDRESS):     me@myhost.tld
    env(MAILER_SENDER_NAME):        Collection Manager

    # A secret key that's used to generate certain security-related tokens
    env(SYMFONY_SECRET):            ThisTokenIsNotSoSecretChangeIt

    # ReCaptcha API key
    env(RECAPTCHA_PUBLIC_KEY):      ReplaceWithYourOwnReCaptchaPublicKeyForInvisibleCatcha
    env(RECAPTCHA_PRIVATE_KEY):     ReplaceWithYourOwnReCaptchaPrivateKeyForInvisibleCatcha
