{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Ask new password</li>
{% endblock %}

{% block body %}
    {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">
                    Ask a new password
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
