{% extends "base.html.twig" %}

{% block title %}Plasmid{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Plasmids list</li>
{% endblock %}

{% block body %}
    {% if app.user.isInGroup %}
        <div>
            <a class="btn btn-secondary" href="{{ path('plasmid_add') }}">
                <span class="fas fa-plus"></span> Add a plasmid
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Plasmids list</h2>

    {% include '_list_filter.html.twig' with {
        'url': url('plasmid_index', {'q': '__query__', 'group': '__group__', 'p': '__page__'}),
        'ajaxUrl': url('plasmid_index_ajax', {'q': '__query__', 'group': '__group__', 'p': '__page__'})
    } %}

    {{ list.content|raw }}
{% endblock %}
