{% extends "product/base.html.twig" %}

{% block title %}Products order{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Products order</li>
{% endblock %}

{% block product_body %}
    {% include '_list_filter.html.twig' with {
        'url': url('product_order', {'group': '__group__'}),
        'ajaxUrl': url('product_order_ajax', {'group': '__group__'})
    } %}

    <h2>Product to order</h2>

    {{ list.content|raw }}
{% endblock %}
