{% extends "base.html.twig" %}

{% block nav %}
    {% include "nav/strain.html.twig" %}
{% endblock %}

{% block body %}
    <h1 class="page-header">Strains</h1>

    {% block strain_body %}
    {% endblock %}
{% endblock %}
