{% extends "base.html.twig" %}

{% block title %}AppBundle:Strain{% endblock %}

{% block body %}
    <h1 class="page-header">Strains</h1>

    {% block strain_body %}
    {% endblock %}
{% endblock %}
