{{ include('biological_origin_category/_delete_confirmation.html.twig') }}
<form action="{{ url('category_delete', { id: category.id }) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('biological_origin_category_delete') }}" />
    <div class="btn-group btn-group-xs" role="group">
        {% block btn %}
        {% endblock %}

        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
    </div>
</form>
