{% extends "biological_origin_category/base.html.twig" %}

{% block title %}Add a category{% endblock %}

{% block type_body %}
    <div>
        <a class="btn btn-default" href="{{ path('category_index') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Types list
        </a>
    </div>

    <h2 class="sub-header">Add a category</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-default pull-right" value="Add"/>
    {{ form_end(form) }}
{% endblock %}
