<p>
    Hi {{ teamRequest.user.firstName }} {{ teamRequest.user.lastName }},<br>
    We confirm the reception of your request to join the team {{ teamRequest.team.name }},<br>
    this request was transferred to the administrator(s) of this team.
</p>

<p>
    Best regards,<br>
    The Collection Manager team
</p>
