<p>
    Hi {{ groupRequest.user.firstName }} {{ groupRequest.user.lastName }},<br>
    We confirm the reception of your request to join the group {{ groupRequest.group.name }},<br>
    this request was transferred to the administrator(s) of this group.
</p>

<p>
    Best regards,<br>
    The Collection Manager group
</p>
