<p>
    Hi, {{ groupAdmin.fullName }}<br>
    We inform you that a request was subjected by {{ groupRequest.user.firstName }} {{ groupRequest.user.lastName }} to join your group.<br>
    You can find the request here: {{ url('group_request_index') }}.
</p>

<p>
    Best regards,<br>
    The Collection Manager group
</p>
