<p>
    Hi,<br>
    We inform you that a request was subjected by {{ teamRequest.user.firstName }} {{ teamRequest.user.lastName }} to join your team.<br>
    You can find the request here: {{ url('team_request_index') }}.
</p>

<p>
    Best regards,<br>
    The Collection Manager team
</p>
