<p>
    Hi {{ teamRequest.user.firstName }} {{ teamRequest.user.lastName }},<br>
    An administrator {{ teamRequest.answer }} your request.
</p>

<p>
    Best regards,<br>
    The Collection Manager team
</p>
