<p>
    {% set activationLink = url('user_activation', { 'username': user.username|url_encode, 'token': user.confirmationToken|url_encode }) %}

    Hi {{ user.firstName }} {{ user.lastName }},<br>
    We confirm your registration on CollectionManager !<br>
    But, just a last thing before use CollectionManager, you must confirm your email.
    <a href="{{ activationLink }}">Confirm my email address</a>

    If the link doesn't work, thanks to copy/paste this link in your browser:
    {{ activationLink }}
</p>

<p>
    Best regards,<br>
    The Collection Manager team
</p>
