{% extends "base.html.twig" %}

{% block title %}Edit a product{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('product_index') }}">Products list</a></li>
    <li class="breadcrumb-item"><a href="{{ path('product_view', { 'id': product.id, 'slug': product.slug }) }}">{{ product.name }}</a></li>
    <li class="breadcrumb-item active">Edit a product</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Edit a product</h1>

    {% embed 'product/_form.html.twig' %}
        {% block button %}
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-secondary">
                        Save changes
                    </button>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
