{% extends "base.html.twig" %}

{% block title %}Product list{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Product list</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Product list</h1>

    {% if app.user.isInGroup() %}
        <div>
            <a class="btn btn-default" href="{{ path('product_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a product
            </a>
        </div>
    {% endif %}

    {% include '_list_filter.html.twig' with {
        'url': url('product_index', {'q': '__query__', 'group': '__group__', 'p': '__page__'}),
        'ajaxUrl': url('product_index_ajax', {'q': '__query__', 'group': '__group__', 'p': '__page__'})
    } %}

    {{ list.content|raw }}
{% endblock %}
