{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h1>Sign in to CollectionManager</h1>
    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
{% endblock fos_user_content %}
