{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h1>Sign in to CollectionManager</h1>

    <div class="row">
        {{ include('FOSUserBundle:Security:login_content.html.twig') }}
    </div>

    <div class="row">
        Forgot password ? <a href="{{ path('fos_user_resetting_request') }}">Ask a new password</a>.<br>
        New to CollectionManager? <a href="{{ path('fos_user_registration_register') }}">Create an account</a>.
    </div>
{% endblock fos_user_content %}
