{% extends "brand/base.html.twig" %}

{% block title %}Edit the brand: {{ brand.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('brand_index') }}">Brands list</a></li>
    <li class="active">Edit</li>
{% endblock %}

{% block brand_body %}
    <h2 class="sub-header">Edit a brand</h2>

    {% embed 'brand/_form.html.twig' %}
        {% block button %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Save changes"/>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
