{% extends "brand/base.html.twig" %}

{% block title %}Brands list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Brands list</li>
{% endblock %}

{% block brand_body %}
    {% if app.user.isInGroup() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('brand_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a brand
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Brands list</h2>

    <div class="row">
        <form id="brand-search-form" method="get">
            <div class="col-md-3">
                <input type="text" id="brand-search-field" name="q" class="form-control" placeholder="Search for..." autocomplete="off" value="{{ query }}">
            </div>

            <div class="col-md-1">
                <button id="brand-search-button" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                </button>
            </div>
        </form>
    </div>

    {{ list.content|raw }}
{% endblock %}
