{% extends "base.html.twig" %}

{% block title %}Edit the seller: {{ seller.name }}{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('seller_index') }}">Sellers list</a></li>
    <li class="breadcrumb-item active">Edit</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Edit a seller</h1>

    {% embed  'seller/_form.html.twig' %}
        {% block button %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-default" value="Save changes"/>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
