{% extends "base.html.twig" %}

{% block title %}Sellers list{% endblock %}

{% block nav %}
    {% include "nav/product.html.twig" %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Sellers list</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Sellers list</h1>

    {% if app.user.isInGroup() or is_granted('ROLE_ADMIN') %}
        <div>
            <a class="btn btn-default" href="{{ path('seller_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a seller
            </a>
        </div>
    {% endif %}

    {% include '_list_filter.html.twig' with {
        'url': url('seller_index', {'q': '__query__', 'p': '__page__'}),
        'ajaxUrl': url('seller_index_ajax', {'q': '__query__', 'p': '__page__'})
    } %}

    {{ list.content|raw }}
{% endblock %}
