{% extends "plasmid/base.html.twig" %}

{% block title %}Plasmid{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('plasmid_index') }}">Plasmids list</a></li>
    <li class="active">Add a pladmid</li>
{% endblock %}

{% block plasmid_body %}
    <h2 class="sub-header">Add a plasmid</h2>

    {{ include('plasmid/form.html.twig') }}
{% endblock %}
