{{ include('project/_delete_confirmation.html.twig') }}
<form action="{{ url('project_delete', { 'slug': project.slug }) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('project_delete') }}" />
    <div class="btn-group btn-group-xs" role="group">
        {% block btn %}
        {% endblock %}

        {% if is_granted('PROJECT_DELETE', project) %}
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
        {% endif %}
    </div>
</form>
