{% extends 'strain/base.html.twig' %}

{% block strain_body %}
    {% block h2 %}
    {% endblock %}

    {% block form %}
    {% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="addTypeModal" tabindex="-1" role="dialog" aria-labelledby="addTypeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addTypeModalLabel">Add a type</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('AppBundle:Type:embdedAdd')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addBioCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addBioCategoryModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addBioCategoryModalLabel">Add a category</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('AppBundle:BiologicalOriginCategory:embdedAdd')) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $( function() {
            handleForm($('select[name$="_strain[type]"]'), $('#addTypeModal'), $('form[name="type"]'), 'form[name="type"]');
            handleForm($('select[name$="_strain[biologicalOriginCategory]"]'), $('#addBioCategoryModal'), $('form[name="biological_origin_category"]'), 'form[name="biological_origin_category"]');
        } );
    </script>
{% endblock %}
