{{ include('box/_delete_confirmation.html.twig') }}
<form action="{{ path('box_delete', { 'id': box.id, 'slug': box.slug }) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('box_delete') }}" />
    <div class="btn-group btn-group-xs" role="group">
        {% block btn %}
        {% endblock %}

        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
        </button>
    </div>
</form>
