{% extends "box/base.html.twig" %}

{% block title %}Boxes list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Boxes list</li>
{% endblock %}

{% block box_body %}
    {% if app.user.isInGroup() %}
        <div>
            <a class="btn btn-default" href="{{ path('box_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a box
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Boxes list</h2>

    {% include '_list_filter.html.twig' with {
        'url': url('box_index', {'q': '__query__', 'group': '__group__', 'p': '__page__'}),
        'ajaxUrl': url('box_index_ajax', {'q': '__query__', 'group': '__group__', 'p': '__page__'})
    } %}

    {{ list.content|raw }}
{% endblock %}
