{% extends 'base.html.twig' %}

{% block title %}
    Equipments list
{% endblock %}

{% block nav %}
    {% include 'nav/equipment.html.twig' %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Equipment list</li>
{% endblock %}

{% block body %}
    <h1 class="page-header">Equipment list</h1>

    {% if app.user.isInGroup %}
        <div>
            <a class="btn btn-default" href="{{ path('equipment_add') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add an equipment
            </a>
        </div>
    {% endif %}

    {% include '_list_filter.html.twig' with {
    'url': url('equipment_index', {'q': '__query__', 'group': '__group__', 'p': '__page__'}),
    'ajaxUrl': url('equipment_index_ajax', {'q': '__query__', 'group': '__group__', 'p': '__page__'})
    } %}

    {{ list.content|raw }}
{% endblock %}
