{# app/Ressources/views/search/quickSearchResults.html.twig #}

{% extends 'base.html.twig' %}

{%block title %}
    Search Results - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Results for "<i>{{ search }}</i>"</h2>
    <p><a href="{{ url('advanced-search') }}">Advanced Search</a></p>

    {% include ":search:searchResults.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            showHide($('.showhide-1 > h3'), $('.showhide-1 > div'));
            showHide($('.showhide-2 > h3'), $('.showhide-2 > div'));
        });
    </script>

    <script>
        $(document).ready(function(){
            $('table tr').click(function(){
                window.location = $(this).data('href');
                return false;
            });
        });
    </script>
{% endblock %}
