{{ include('primer/_delete_confirmation.html.twig') }}
<form action="{{ url('primer_delete', { id: primer.id }) }}" method="post" data-confirmation="true">
    <input type="hidden" name="token" value="{{ csrf_token('primer_delete') }}" />
    <div class="btn-group btn-group-xs" role="group">
        {% block btn %}
        {% endblock %}

        {% if is_granted('PRIMER_DELETE', primer) %}
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            </button>
        {% endif %}
    </div>
</form>
