{% extends "primer/base.html.twig" %}

{% block title %}Primers list{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Primers list</li>
{% endblock %}

{% block primer_body %}
    {% if app.user.isInGroup %}
        <div>
            <a class="btn btn-default" href="{{ path('primer_add') }}">
                <span class="glyphicon glyphicon-plus"></span> Add a primer
            </a>
        </div>
    {% endif %}

    <h2 class="sub-header">Primers list</h2>

    {% include '_list_filter.html.twig' with {
        'url': url('primer_index', {'q': '__query__', 'group': '__group__', 'p': '__page__'}),
        'ajaxUrl': url('primer_index_ajax', {'q': '__query__', 'group': '__group__', 'p': '__page__'})
    } %}

    {{ list.content|raw }}
{% endblock %}
