<nav class="nav flex-column nav-pills">
    <a class="nav-link" href="{{ path('species_index') }}">Species</a>
    <a class="nav-link" href="{{ path('box_index') }}">Boxes</a>
    <a class="nav-link" href="{{ path('strain_index') }}">Strains</a>
</nav>
